[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.24.3"
opencv-python = "==4.7.0.72"
pillow = "==9.5.0"
pytesseract = "==0.3.10"
scikit-image = "*"

[dev-packages]

[requires]
python_version = "3.10"
